################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myDataViewer/bin
/myDataViewer/obj
/colours.txt
/colours.txt.bak
/june.jpg
/may.jpg
